<head>
	<meta name=viewport content="width=device-width">
	<link rel=alternate title="Feed" type=application/atom+xml href="feed.atom">
</head>
<script type=module src=a/index.js></script>
<link rel=stylesheet href=a/index.css></link>
<a href=page.html>Page</a>

<p>Background should be red.</p>
<p>Expecting 2 js files below.</p>
<pre id=log></pre>
