<head>
	<meta name=viewport content="width=device-width">
	<link rel=alternate title="Feed" type=application/atom+xml href="feed.atom">
</head>
<script type=module src=a/page.js></script>
<link rel=stylesheet href=a/page.css></link>
<a href=index.html>Index</a>

<p>Background should be blue.</p>
<p>Expecting 2 js files below.</p>
<pre id=log></pre>
